openapi: 3.1.0
info:
  title: Grimoire API
  description: Documentation retrieval service for AI agents, by Monadeo.
  version: 0.6.23
servers:
  - url: https://grimoire-api.monadeo.com
    description: Production
  - url: https://grimoire-api-qa.monadeo.com
    description: QA
security:
  - bearerAuth: []
paths:
  /health:
    get:
      operationId: getHealth
      summary: Unauthenticated liveness probe
      security: []
      responses:
        "200":
          description: Service is up
          content:
            application/json:
              schema:
                type: object
                required: [status]
                properties:
                  status: { type: string, const: ok }
                  revision: { type: string }
  /v1/search:
    post:
      operationId: search
      summary: Hybrid documentation search across up to 5 source@version targets
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [query, sources]
              properties:
                query: { type: string, maxLength: 1000 }
                sources:
                  type: array
                  minItems: 1
                  maxItems: 5
                  items:
                    type: object
                    required: [source]
                    properties:
                      source: { type: string }
                      version: { type: string, default: latest }
                language: { type: string }
                top_k: { type: integer, default: 8, minimum: 1, maximum: 20 }
                candidates_per_source: { type: integer, default: 100, minimum: 10, maximum: 100 }
                max_response_tokens: { type: integer }
                include_candidate_ids:
                  type: boolean
                  default: false
                  description:
                    Also return the fused pre-rerank candidate id list (quality-harness
                    instrumentation; candidate-stage recall is scored against it).
      responses:
        "200":
          description: Ranked, attributed chunks
          content:
            application/json:
              schema:
                type: object
                required: [results, confidence, reranked, resolved_versions, usage]
                properties:
                  results:
                    type: array
                    items: { $ref: "#/components/schemas/Chunk" }
                  confidence: { type: string, enum: [strong, weak] }
                  reranked: { type: boolean }
                  resolved_versions:
                    type: object
                    additionalProperties: { type: string }
                  usage:
                    type: object
                    properties:
                      retrievals_remaining: { type: [integer, "null"] }
                  candidate_ids:
                    type: array
                    items: { type: string }
        "400": { $ref: "#/components/responses/Error" }
        "401": { $ref: "#/components/responses/Error" }
        "403": { $ref: "#/components/responses/Error" }
        "404": { $ref: "#/components/responses/Error" }
        "429": { $ref: "#/components/responses/Error" }
        "503": { $ref: "#/components/responses/Error" }
  /v1/sources:
    get:
      operationId: listSources
      summary: List accessible sources (public + caller tenant)
      parameters:
        - { name: q, in: query, schema: { type: string } }
      responses:
        "200":
          description: Source cards
          content:
            application/json:
              schema:
                type: object
                properties:
                  sources:
                    type: array
                    items: { $ref: "#/components/schemas/SourceCard" }
        "401": { $ref: "#/components/responses/Error" }
    post:
      operationId: submitSource
      summary: Submit a documentation source for ingestion
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                url: { type: string, format: uri }
                source_id: { type: string, pattern: "^[a-zA-Z0-9][a-zA-Z0-9._-]{0,80}$" }
                upload_ref:
                  type: string
                  description: GCS upload reference for private zip submissions (requires source_id)
                version: { type: string, pattern: "^[a-zA-Z0-9][a-zA-Z0-9._-]{0,80}$" }
                visibility: { type: string, enum: [public, private], default: public }
                webhook_url: { type: string, format: uri }
                scrape_config: { type: object }
      responses:
        "201":
          description: Ingestion job created
          content:
            application/json:
              schema:
                type: object
                required: [job_id, source_id, version_id]
                properties:
                  job_id: { type: string }
                  source_id: { type: string }
                  version_id: { type: string }
        "400": { $ref: "#/components/responses/Error" }
        "403": { $ref: "#/components/responses/Error" }
        "409": { $ref: "#/components/responses/Error" }
        "429": { $ref: "#/components/responses/Error" }
        "503": { $ref: "#/components/responses/Error" }
  /v1/sources/{sourceId}/versions:
    get:
      operationId: listVersions
      summary: All versions of a source
      parameters:
        - { name: sourceId, in: path, required: true, schema: { type: string } }
      responses:
        "200":
          description: Versions
          content:
            application/json:
              schema:
                type: object
                properties:
                  versions:
                    type: array
                    items:
                      type: object
                      properties:
                        version_id: { type: string }
                        semver: { type: [string, "null"] }
                        ingested_at: { type: string }
                        status: { type: string }
                        is_latest: { type: boolean }
                        chunk_count: { type: integer }
        "404": { $ref: "#/components/responses/Error" }
  /v1/documents/{chunkId}/context:
    get:
      operationId: getDocumentContext
      summary: Chunk plus neighbors in the same document
      parameters:
        - { name: chunkId, in: path, required: true, schema: { type: string } }
        - { name: window, in: query, schema: { type: integer, default: 2, minimum: 0, maximum: 5 } }
      responses:
        "200":
          description: Neighboring chunks
          content:
            application/json:
              schema:
                type: object
                properties:
                  chunks:
                    type: array
                    items: { $ref: "#/components/schemas/ContextChunk" }
        "404": { $ref: "#/components/responses/Error" }
  /v1/catalog:
    get:
      operationId: getCatalog
      summary: Public source catalog (unauthenticated, cached)
      security: []
      responses:
        "200":
          description: Public sources
          content:
            application/json:
              schema:
                type: object
                properties:
                  sources:
                    type: array
                    items: { $ref: "#/components/schemas/SourceCard" }
  /v1/catalog/{sourceId}:
    get:
      operationId: getCatalogSource
      summary: One public source card (unauthenticated, cached)
      security: []
      parameters:
        - { name: sourceId, in: path, required: true, schema: { type: string } }
      responses:
        "200":
          description: Source card
          content:
            application/json:
              schema: { $ref: "#/components/schemas/SourceCard" }
        "404": { $ref: "#/components/responses/Error" }
  /v1/feedback:
    post:
      operationId: reportResult
      summary: Report a retrieved chunk as helpful, incorrect, or outdated
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [chunk_id, verdict]
              properties:
                chunk_id: { type: string }
                verdict: { type: string, enum: [helpful, incorrect, outdated] }
                note: { type: string, maxLength: 1000 }
      responses:
        "201":
          description: Recorded
        "400": { $ref: "#/components/responses/Error" }
        "404": { $ref: "#/components/responses/Error" }
        "429": { $ref: "#/components/responses/Error" }
  /v1/jobs/{jobId}:
    get:
      operationId: getJob
      summary: Ingestion job status (SSE with Accept text/event-stream)
      parameters:
        - { name: jobId, in: path, required: true, schema: { type: string } }
      responses:
        "200":
          description: Job document (or SSE stream)
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Job" }
        "404": { $ref: "#/components/responses/Error" }
  /v1/jobs/{jobId}/errors:
    get:
      operationId: getJobErrors
      summary: Per-document errors of an ingestion job
      parameters:
        - { name: jobId, in: path, required: true, schema: { type: string } }
      responses:
        "200":
          description: Errors
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        stage: { type: string }
                        document_url: { type: string }
                        message: { type: string }
        "404": { $ref: "#/components/responses/Error" }
  /v1/jobs/{jobId}/quarantine:
    get:
      operationId: listQuarantinedChunks
      summary: Tenant self-review of private quarantined chunks (admin/owner)
      parameters:
        - { name: jobId, in: path, required: true, schema: { type: string } }
      responses:
        "200":
          description: Quarantined chunks awaiting tenant review
          content:
            application/json:
              schema:
                type: object
                properties:
                  chunks:
                    type: array
                    items:
                      type: object
                      properties:
                        chunk_id: { type: string }
                        text: { type: string }
                        heading_path: { type: array, items: { type: string } }
        "404": { $ref: "#/components/responses/Error" }
  /v1/jobs/{jobId}/quarantine/{chunkId}/release:
    post:
      operationId: releaseQuarantinedChunk
      summary: Release a quarantined private chunk into the index
      parameters:
        - { name: jobId, in: path, required: true, schema: { type: string } }
        - { name: chunkId, in: path, required: true, schema: { type: string } }
      responses:
        "200": { $ref: "#/components/responses/Ok" }
        "404": { $ref: "#/components/responses/Error" }
  /v1/jobs/{jobId}/quarantine/{chunkId}/delete:
    post:
      operationId: deleteQuarantinedChunk
      summary: Permanently discard a quarantined private chunk
      parameters:
        - { name: jobId, in: path, required: true, schema: { type: string } }
        - { name: chunkId, in: path, required: true, schema: { type: string } }
      responses:
        "200": { $ref: "#/components/responses/Ok" }
        "404": { $ref: "#/components/responses/Error" }
  /v1/tickets:
    get:
      operationId: listTickets
      summary: Tenant's support tickets
      responses:
        "200":
          description: Tickets
          content:
            application/json:
              schema:
                type: object
                properties:
                  tickets:
                    type: array
                    items: { $ref: "#/components/schemas/Ticket" }
    post:
      operationId: openTicket
      summary: Open a re-ingest or escalation ticket
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [type, source_id, reason]
              properties:
                type: { type: string, enum: [reingest, escalation] }
                source_id: { type: string }
                reason: { type: string, maxLength: 2000 }
      responses:
        "201":
          description: Ticket created
          content:
            application/json:
              schema:
                type: object
                properties:
                  ticket_id: { type: string }
        "400": { $ref: "#/components/responses/Error" }
  /v1/tickets/{ticketId}/messages:
    get:
      operationId: listTicketMessages
      summary: Messages on a ticket
      parameters:
        - { name: ticketId, in: path, required: true, schema: { type: string } }
      responses:
        "200":
          description: Messages
        "404": { $ref: "#/components/responses/Error" }
    post:
      operationId: postTicketMessage
      summary: Add a message to a ticket
      parameters:
        - { name: ticketId, in: path, required: true, schema: { type: string } }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [body]
              properties:
                body: { type: string, maxLength: 5000 }
      responses:
        "201":
          description: Message added
        "404": { $ref: "#/components/responses/Error" }
  /v1/tenants/me:
    get:
      operationId: getTenant
      summary: Caller's tenant profile
      responses:
        "200":
          description: Tenant
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Tenant" }
        "404": { $ref: "#/components/responses/Error" }
    patch:
      operationId: updateTenant
      summary: Update tenant name / overage settings (owner)
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name: { type: string, maxLength: 100 }
                overage:
                  type: object
                  properties:
                    enabled: { type: boolean }
                    monthly_cap_usd: { type: number, minimum: 0 }
      responses:
        "200": { $ref: "#/components/responses/Ok" }
        "400": { $ref: "#/components/responses/Error" }
        "403": { $ref: "#/components/responses/Error" }
    delete:
      operationId: deleteTenant
      summary: Request tenant deletion (owner; 30-day erasure cascade)
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [confirm]
              properties:
                confirm: { type: string, description: Must equal the tenant id }
      responses:
        "202":
          description: Erasure scheduled
        "400": { $ref: "#/components/responses/Error" }
        "403": { $ref: "#/components/responses/Error" }
  /v1/tenants/me/usage:
    get:
      operationId: getTenantUsage
      summary: Current-month usage totals
      responses:
        "200":
          description: Usage
          content:
            application/json:
              schema:
                type: object
                properties:
                  month: { type: string }
                  usage:
                    type: object
                    additionalProperties: { type: number }
  /v1/tenants/me/machine-tokens:
    get:
      operationId: listMachineTokens
      summary: List machine tokens (admin/owner, paid plan)
      responses:
        "200":
          description: Tokens (hashes never returned)
        "403": { $ref: "#/components/responses/Error" }
    post:
      operationId: createMachineToken
      summary: Create a machine token (shown once)
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [label, scopes]
              properties:
                label: { type: string, maxLength: 60 }
                scopes:
                  type: array
                  items: { type: string, enum: [search, ingest] }
      responses:
        "201":
          description: Token created — the raw token is returned exactly once
        "400": { $ref: "#/components/responses/Error" }
        "403": { $ref: "#/components/responses/Error" }
  /v1/tenants/me/machine-tokens/{tokenId}:
    delete:
      operationId: revokeMachineToken
      summary: Revoke a machine token
      parameters:
        - { name: tokenId, in: path, required: true, schema: { type: string } }
      responses:
        "200": { $ref: "#/components/responses/Ok" }
        "403": { $ref: "#/components/responses/Error" }
  /v1/tenants/me/webhook-secret:
    post:
      operationId: rotateWebhookSecret
      summary: Rotate the tenant webhook HMAC secret (shown once)
      responses:
        "200":
          description: New secret
        "403": { $ref: "#/components/responses/Error" }
  /v1/tenants/me/members:
    get:
      operationId: listMembers
      summary: Tenant members
      responses:
        "200":
          description: Members
  /v1/tenants/me/members/{userId}:
    delete:
      operationId: removeMember
      summary: Remove a member (admin/owner; owner cannot be removed)
      parameters:
        - { name: userId, in: path, required: true, schema: { type: string } }
      responses:
        "200": { $ref: "#/components/responses/Ok" }
        "400": { $ref: "#/components/responses/Error" }
        "403": { $ref: "#/components/responses/Error" }
  /v1/tenants/me/invites:
    get:
      operationId: listInvites
      summary: Open invites
      responses:
        "200":
          description: Invites
    post:
      operationId: createInvite
      summary: Create a shareable invite link (token shown once)
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                role: { type: string, enum: [member, admin], default: member }
      responses:
        "201":
          description: Invite created
        "400": { $ref: "#/components/responses/Error" }
        "403": { $ref: "#/components/responses/Error" }
  /v1/tenants/me/invites/{inviteId}:
    delete:
      operationId: revokeInvite
      summary: Revoke an invite
      parameters:
        - { name: inviteId, in: path, required: true, schema: { type: string } }
      responses:
        "200": { $ref: "#/components/responses/Ok" }
  /v1/invites/redeem:
    post:
      operationId: redeemInvite
      summary: Redeem an invite token (single use, seat-limited)
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [token]
              properties:
                token: { type: string }
      responses:
        "200":
          description: Joined
        "404": { $ref: "#/components/responses/Error" }
        "409": { $ref: "#/components/responses/Error" }
        "410": { $ref: "#/components/responses/Error" }
  /v1/users/bootstrap:
    post:
      operationId: bootstrapUser
      summary: Idempotently create the caller's user record and implicit free tenant
      description:
        First-login step (data-model rule "one tenant per user", server-side writes
        only). Safe to call on every sign-in; returns the existing tenant afterwards.
      responses:
        "200":
          description: The caller's tenant
          content:
            application/json:
              schema:
                type: object
                required: [tenant_id, role, created]
                properties:
                  tenant_id: { type: string }
                  role: { type: string, enum: [owner, admin, member] }
                  created: { type: boolean }
        "401": { $ref: "#/components/responses/Error" }
        "403": { $ref: "#/components/responses/Error" }
  /v1/billing/checkout:
    post:
      operationId: createCheckout
      summary: Start a Team subscription (Stripe Checkout session; owner only)
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                plan: { type: string, enum: [solo, team], default: team }
                seats:
                  type: integer
                  minimum: 1
                  maximum: 500
                  description: Team only; Solo is always a single seat.
      responses:
        "200":
          description: Hosted checkout session
          content:
            application/json:
              schema:
                type: object
                required: [url]
                properties:
                  url: { type: string, format: uri }
        "400": { $ref: "#/components/responses/Error" }
        "401": { $ref: "#/components/responses/Error" }
        "403": { $ref: "#/components/responses/Error" }
        "409": { $ref: "#/components/responses/Error" }
  /v1/billing/portal:
    post:
      operationId: createBillingPortal
      summary: Open the Stripe customer portal (owner only)
      responses:
        "200":
          description: Hosted portal session
          content:
            application/json:
              schema:
                type: object
                required: [url]
                properties:
                  url: { type: string, format: uri }
        "401": { $ref: "#/components/responses/Error" }
        "403": { $ref: "#/components/responses/Error" }
        "409": { $ref: "#/components/responses/Error" }
  /v1/webhooks/stripe:
    post:
      operationId: stripeWebhook
      summary: Stripe events (signature-verified with the webhook secret; not a client API)
      security: []
      responses:
        "200":
          description: Event accepted
        "400": { $ref: "#/components/responses/Error" }
  /auth/cli/start:
    get:
      operationId: cliAuthStart
      summary: Begin the CLI browser login (hosted sign-in page)
      security: []
      parameters:
        - name: code_challenge
          in: query
          required: true
          schema: { type: string, pattern: "^[A-Za-z0-9_-]{43}$" }
          description: PKCE S256 challenge
        - name: code_challenge_method
          in: query
          required: false
          schema: { type: string, enum: [S256] }
        - name: state
          in: query
          required: false
          schema: { type: string, pattern: "^[A-Za-z0-9_-]{1,128}$" }
          description: Opaque CSRF token the sign-in page echoes to the loopback callback
        - name: redirect_uri
          in: query
          required: true
          schema: { type: string, format: uri }
          description: CLI loopback callback — must match http://127.0.0.1:<port>/callback
      responses:
        "200":
          description: Hosted sign-in page (HTML)
        "400": { $ref: "#/components/responses/Error" }
  /auth/cli/complete:
    post:
      operationId: cliAuthComplete
      summary: Hosted page posts the signed-in user's refresh token against the code
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [code, refresh_token, id_token]
              properties:
                code: { type: string }
                refresh_token: { type: string }
                id_token: { type: string }
      responses:
        "200": { $ref: "#/components/responses/Ok" }
        "400": { $ref: "#/components/responses/Error" }
        "401": { $ref: "#/components/responses/Error" }
        "404": { $ref: "#/components/responses/Error" }
  /auth/cli/exchange:
    post:
      operationId: cliAuthExchange
      summary: CLI exchanges the one-time code + PKCE verifier for the refresh token
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [code, code_verifier]
              properties:
                code: { type: string }
                code_verifier: { type: string }
      responses:
        "200":
          description: Refresh token (one-shot; the code is consumed)
          content:
            application/json:
              schema:
                type: object
                required: [refresh_token]
                properties:
                  refresh_token: { type: string }
        "400": { $ref: "#/components/responses/Error" }
        "404": { $ref: "#/components/responses/Error" }
        "428":
          description: Authorization pending — the user has not completed sign-in yet
          content:
            application/json:
              schema:
                type: object
                properties:
                  error: { type: string, const: authorization_pending }
  /auth/cli/refresh:
    post:
      operationId: cliAuthRefresh
      summary: Exchange the stored refresh token for a short-lived ID token
      description:
        Silent-refresh endpoint the clients call before every authenticated
        request when the cached ID token expired. Ships with the Phase 6 auth
        work (the client contract is fixed here first — contract-first rule).
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [refresh_token]
              properties:
                refresh_token: { type: string }
      responses:
        "200":
          description: Fresh ID token
          content:
            application/json:
              schema:
                type: object
                required: [id_token, expires_in]
                properties:
                  id_token: { type: string }
                  expires_in: { type: integer, description: Seconds until expiry }
        "400": { $ref: "#/components/responses/Error" }
        "401": { $ref: "#/components/responses/Error" }
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: Firebase ID token or machine token (mt_ prefix)
  responses:
    Ok:
      description: Success
      content:
        application/json:
          schema:
            type: object
            properties:
              ok: { type: boolean }
    Error:
      description: Structured error
      content:
        application/json:
          schema:
            type: object
            required: [error]
            properties:
              error: { type: string }
              message: { type: string }
  schemas:
    SourceCard:
      type: object
      properties:
        source_id: { type: string }
        display_name: { type: string }
        visibility: { type: string, enum: [public, private] }
        latest_version: { type: [string, "null"] }
        latest_semver:
          type: [string, "null"]
          description: Precise product version of the latest snapshot (e.g. 16.2.10), when known
        languages: { type: array, items: { type: string } }
        origin_url: { type: [string, "null"] }
    Chunk:
      type: object
      required: [chunk_id, source, version, score, text, origin_url, token_count]
      properties:
        chunk_id: { type: string }
        source: { type: string }
        version: { type: string }
        ingested_at: { type: string }
        score: { type: number }
        heading_path: { type: array, items: { type: string } }
        text: { type: string }
        token_count: { type: integer }
        origin_url: { type: string }
    ContextChunk:
      type: object
      properties:
        chunk_id: { type: string }
        text: { type: string }
        heading_path: { type: array, items: { type: string } }
        origin_url: { type: string }
        token_count: { type: integer }
    Job:
      type: object
      properties:
        job_id: { type: string }
        source_id: { type: string }
        version_id: { type: string }
        status:
          type: string
          enum: [validating, pending_review, fetching, parsing, indexing, publishing, complete, failed, rejected]
        counters:
          type: object
          additionalProperties: { type: number }
    Ticket:
      type: object
      properties:
        ticket_id: { type: string }
        type: { type: string, enum: [reingest, escalation] }
        source_id: { type: string }
        reason: { type: string }
        status: { type: string }
    Tenant:
      type: object
      properties:
        tenant_id: { type: string }
        name: { type: string }
        plan: { type: string, enum: [free, team] }
        seat_limit: { type: integer }
        overage:
          type: object
          properties:
            enabled: { type: boolean }
            monthly_cap_usd: { type: number }
        billing_state:
          type: object
          properties:
            suspended: { type: boolean }
            grace_until: { type: string }
# Contract-first rule: endpoints are added HERE before code; clients generate from
# this file. Staff-only routes (/v1/staff/*) are deliberately not part of the public
# contract — they are internal, CF-Access-gated, and consumed by the staff console only.
